In [13]:
import pandas as pd
import numpy as np

In [14]:
# Downloading dataset from https://www.kaggle.com/c/titanic/data
df = pd.read_csv("C:/Users/Mayur/OneDrive/Desktop/DS1/gender_submission.csv")
df.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [15]:
missing_values = df.isnull().sum()
print(missing_values)

PassengerId    0
Survived       0
dtype: int64

In [16]:
summary_stats = df.describe()
print(summary_stats)

       PassengerId    Survived
count   418.000000  418.000000
mean   1100.500000    0.363636
std     120.810458    0.481622
min     892.000000    0.000000
25%     996.250000    0.000000
50%    1100.500000    0.000000
75%    1204.750000    1.000000
max    1309.000000    1.000000

In [17]:
column_names = df.columns
data_types = df.dtypes
print("Column Names:")
print(column_names)
print("Data Types:")
print(data_types)

Column Names:
Index(['PassengerId', 'Survived'], dtype='object')
Data Types:
PassengerId    int64
Survived       int64
dtype: object

In [18]:
dimensions = df.shape
print("rows, colomns")
print(dimensions)

rows, colomns
(418, 2)

In [19]:
variable_types = df.dtypes.value_counts()
print(variable_types)

int64    2
Name: count, dtype: int64

In [23]:
df['PassengerId'] = df['PassengerId'].astype('category')
df['PassengerId']

0       892
1       893
2       894
3       895
4       896
       ...
413    1305
414    1306
415    1307
416    1308
417    1309
Name: PassengerId, Length: 418, dtype: category
Categories (418, int64): [892, 893, 894, 895, ..., 1306, 1307, 1308, 1309]

In [24]:
df_encoded = pd.get_dummies(df)
df_encoded

,Survived,PassengerId_892,PassengerId_893,PassengerId_894,PassengerId_895,PassengerId_896,PassengerId_897,PassengerId_898,PassengerId_899,PassengerId_900,...,PassengerId_1300,PassengerId_1301,PassengerId_1302,PassengerId_1303,PassengerId_1304,PassengerId_1305,PassengerId_1306,PassengerId_1307,PassengerId_1308,PassengerId_1309
0,0,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,0,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,0,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,1,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,0,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
414,1,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
415,0,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
416,0,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
417,0,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True